@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F0F1F2 !important;
}

.link {
  color: gray;
  text-decoration: none;
}

.link.active * {
  color: white
}

.banner {
  position: relative;
  height: 40vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img5.goodfon.com/wallpaper/nbig/8/74/osen-listia-fon-colorful-klen-autumn-leaves-maple-backgrou-1.jpg');
  background-size: cover;
  background-position: center center;
}

.banner .banner-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  text-align: center;
}

.banner .banner-info h1 {
  position: relative;
  font-size: 6rem;
  color: white;
}

div.more-link-wrapper {
  display: none
}

.card-text img {
  width:100%
}

.card-text h1 {
  font-size: 1.75rem;
}

.badge:hover {
  transform: scale(1.1);
  transition: 0.2s ;
}

.list-group-item:hover {
  transform: scale(1.1);
  transition: 0.2s;
}